<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ApiMapper">
    <select id="apiList" resultType="com.project.entity.ApiList" >
        select api_id,api_name,api_manufacture,api_type,api_net,api_ipv4,api_method,api_state from t_api_basic where 1=1
        <if test="params.apiName!=null and params.apiName!=''">
            and api_name like '%' #{params.apiName} '%'
        </if>
        <if test="params.apiManufacture!=null and params.apiManufacture!=''">
            and api_manufacture like '%' #{params.apiManufacture} '%'
        </if>
        <if test="params.apiIpv4!=null and params.apiIpv4!=''">
            and api_ipv4 like '%' #{params.apiIpv4} '%'
        </if>
        <if test="params.apiState!=null and params.apiState!=''">
            and api_state = #{params.apiState}
        </if>
        order by api_id
    </select>
    <select id="apiDet" resultType="com.project.entity.ApiDet">
        select api_id,api_name,api_manufacture,api_type,api_net,api_ipv4,api_method,access_key,secret_key,api_sign,api_remark,api_state from t_api_basic where api_id = #{apiId}
    </select>
    <insert id="insertApi">
        insert into t_api_basic(api_name,api_manufacture,api_type,api_net,api_ipv4,api_method,access_key,secret_key,api_sign,api_remark,api_state)
        values(#{params.apiName},#{params.apiManufacture},#{params.apiType},#{params.apiNet},#{params.apiIpv4},#{params.apiMethod},#{params.accessKey}
        ,#{params.secretKey},#{params.apiSign},#{params.apiRemark},#{params.apiState})
    </insert>
    <delete id="deleteApi">
        delete from t_api_basic where api_id=#{apiId}
    </delete>
    <update id="updateApi">
    update t_api_basic set api_name=#{params.apiName},api_manufacture=#{params.apiManufacture},api_type=#{params.apiType},api_net=#{params.apiNet}
    ,api_ipv4=#{params.apiIpv4},api_method=#{params.apiMethod},access_key=#{params.accessKey},secret_key=#{params.secretKey}
    ,api_sign=#{params.apiSign},api_remark=#{params.apiRemark},api_state=#{params.apiState} where api_id=#{params.apiId}
    </update>
</mapper>