<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AssMapper">
    <select id="assList" resultType="com.project.entity.AssList" >
        select a.ass_id,a.ass_no,a.type_code,b.dict_value as ass_type,a.ass_name,a.proj_id,c.proj_name,a.ass_brand,a.ass_model,serial_no
        ,a.factory_no,a.ass_supplier,a.ass_cost,a.purchase_date,a.ass_remark,a.ass_tag,d.unit_name,a.ass_addr,a.ass_net,a.ass_ipv4
        ,a.ass_state,e.unit_name as maint_name,a.maint_state from t_ass_basic a left join (select * from t_sys_dict where dict_unit='ass'
        and dict_field='type_code') b on left(a.type_code,1)=b.dict_code left join t_proj_main c on a.proj_id=c.proj_id left join
        (select * from t_sys_unit where unit_source='zzd') d on a.unit_id=d.unit_id left join (select * from t_sys_unit where unit_source='wbdw') e
        on a.maint_id=e.unit_id where 1=1
        <if test="params.unitName!=null and params.unitName!=''">
            and a.unit_id in (select unit_id from t_sys_unit where unit_name like '%' #{params.unitName} '%')
        </if>
        <if test="params.projName!=null and params.projName!=''">
            and a.proj_id in (select proj_id from t_proj_main where proj_name like '%' #{params.projName} '%')
        </if>
        <if test="params.typeCode!=null and params.typeCode!=''">
            and a.type_code = #{params.typeCode}
        </if>
        <if test="params.assName!=null and params.assName!=''">
            and a.ass_name like '%' #{params.assName} '%'
        </if>
        <if test="params.assState!=null and params.assState!=''">
            and a.ass_state = #{params.assState}
        </if>
        <if test="params.maintName!=null and params.maintName!=''">
            and a.maint_id in (select unit_id from t_sys_unit where unit_name like '%' #{params.maintName} '%')
        </if>
        <if test="params.maintState!=null and params.maintState!=''">
            and a.maint_state = #{params.maintState}
        </if>
        <if test="params.eventType!=null and params.eventType!=''">
            and a.maint_state='在保' and a.ass_id in (select ass_id from t_ass_event where event_type='告警' and event_state='未处理')
        </if>
        order by a.ass_no
    </select>
    <select id="selectDet" resultType="com.project.entity.AssDet">
        select t.ass_id,t.ass_no,t.ass_name,t.proj_id,a.proj_name,t.type_code,t.ass_brand,t.ass_model,t.serial_no,t.factory_no,t.ass_supplier,t.ass_cost
        ,t.purchase_date,t.ass_remark,t.ass_tag,t.unit_id,t.ass_addr,t.ass_net,t.ass_ipv4,t.access_key,t.secret_key,t.ass_state,t.maint_id,t.maint_state
        from t_ass_basic t left join t_proj_main a on t.proj_id=a.proj_id where t.ass_id = #{assId}
    </select>
<!--    <insert id="insertAss">-->
<!--        insert into t_ass_basic(type_code,ass_no,ass_name,ass_tag,ass_model,factory_no,ass_manufacturer,ass_supplier-->
<!--        ,ass_cost,purchase_date,ass_dept,ass_addr,ass_state,ass_remark) values(#{params.assType3},#{params.assContr}-->
<!--        ,#{params.assNo},#{params.assName},#{params.assTag},#{params.assModel},#{params.assFactoryno},#{params.assManufacturer}-->
<!--        ,#{params.assSupplier},#{params.assCost},#{params.purchaseDate},#{params.assDept}-->
<!--        ,#{params.assAddr},#{params.assState},#{params.assRemark})-->
<!--    </insert>-->
<!--    <delete id="deleteAss">-->
<!--        delete from t_ass_basic where ass_id=#{assId}-->
<!--    </delete>-->
<!--    <update id="updateAss">-->
<!--        update t_ass_basic set type_code=#{params.assType3},ass_no=#{params.assNo},ass_name=#{params.assName}-->
<!--        ,ass_tag=#{params.assTag},ass_model=#{params.assModel},factory_no=#{params.factoryNo}-->
<!--        ,ass_manufacturer=#{params.assManufacturer},ass_supplier=#{params.assSupplier}-->
<!--        ,ass_cost=#{params.assCost},purchase_date=#{params.purchaseDate},ass_dept=#{params.assDept}-->
<!--        ,ass_addr=#{params.assAddr},ass_state=#{params.assState},ass_remark=#{params.assRemark} where ass_id=#{params.assId}-->
<!--    </update>-->
<!--    <select id="assType" resultType="com.project.entity.AssList" >-->
<!--        select dict_code as ass_type,dict_value as ass_name from t_sys_dict where dict_unit='ass' and dict_field='type_code' and dict_code like '%' #{type} '%'-->
<!--        and dict_order=(select dict_order+1 from t_sys_dict where dict_unit='ass' and dict_field='type_code' and dict_code=#{type})-->
<!--    </select>-->
<!--    <insert id="importAss">-->
<!--        insert into t_ass_basic(type_code,ass_no,ass_name,ass_tag,ass_model,factory_no,ass_manufacturer,ass_supplier-->
<!--        ,ass_cost,purchase_date,ass_dept,ass_addr,ass_state,ass_remark)-->
<!--        values (#{htbh},#{htbh},#{htbh},#{htbh},#{htbh},#{htbh},#{htbh},#{htbh},#{htbh},#{kssyrq},#{htbh},#{htbh}-->
<!--        ,#{zt},#{bz})-->
<!--    </insert>-->
    <select id="eventList" resultType="com.project.entity.EventList" >
        select event_id,ass_id,event_type,event_content,event_time,event_source,event_state from t_ass_event where ass_id=#{params.assId}
        <if test="params.eventType!=null and params.eventType!=''">
            and event_type = #{params.eventType}
        </if>
        order by event_id
    </select>
</mapper>