<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ProjMapper">
    <select id="selProjList" resultType="com.project.entity.ProjListForm" >
        select a.proj_id,a.proj_type,a.proj_busin,a.proj_name,a.proj_manager,a.bid_state,a.contract_state,a.budget_amount
        ,a.budget_percent,budget_complete,b.dict_value as proj_stepcode FROM t_proj_main a left join
        (select dict_code,dict_value from t_sys_dict where dict_field='proj_stepcode') b on a.proj_stepcode=b.dict_code where 1=1
        <if test="params.projType!=null and params.projType!=''">
            and a.proj_type=#{params.projType}
        </if>
        <if test="params.projBusin!=null and params.projBusin!=''">
            and a.proj_busin=#{params.projBusin}
        </if>
        <if test="params.projName!=null and params.projName!=''">
            and a.proj_name like '%' #{params.projName} '%'
        </if>
        <if test="params.projManager!=null and params.projManager!=''">
            and a.proj_manager like '%' #{params.projManager} '%'
        </if>
        <if test="projStepcode!=0">
            and a.proj_stepcode = #{projStepcode}
        </if>
        order by a.proj_id
    </select>
    <select id="selProjDet" resultType="com.project.entity.ProjDetForm">
        select a.proj_id,a.proj_type,a.proj_busin,a.proj_name,a.proj_manager,a.bid_state,a.contract_state,a.budget_amount
        ,a.budget_percent,budget_complete,a.proj_stepcode FROM t_proj_main a where a.proj_id=#{projId}
    </select>
    <insert id="insertProj">
        insert into t_proj_main(proj_type,proj_busin,proj_name,proj_manager,bid_state,contract_state,budget_amount,budget_percent
        ,budget_complete,proj_stepcode) values(#{params.projType},#{params.projBusin},#{params.projName},#{params.projManager}
        ,#{params.bidState},#{params.contractState},#{params.budgetAmount},#{params.budgetPercent},#{params.budgetComplete},1)
    </insert>
    <delete id="deleteProj">
        delete from t_proj_main where proj_id=#{projId}
    </delete>
    <update id="updateProj">
        update t_proj_main set proj_type=#{params.projType},proj_busin=#{params.projBusin},proj_name=#{params.projName},proj_manager=#{params.projManager}
        ,bid_state=#{params.bidState},contract_state=#{params.contractState},budget_amount=#{params.budgetAmount},budget_percent=#{params.budgetPercent}
        ,budget_complete=#{params.budgetComplete},proj_stepcode=#{params.projStepcode} where proj_id=#{params.projId}
    </update>
    <update id="projStep">
        update t_proj_main set proj_stepcode=proj_stepcode+#{stepVal} where proj_id=#{projId}
    </update>
    <update id="updateProjunit">
        update t_proj_main set ${type}=#{unitId} where proj_id=#{projId}
    </update>
    <select id="conseqList" resultType="com.project.entity.ConseqList" >
        select conseq_id,conseq_name,purchase_state,bid_state,contract_state from t_proj_conseq where proj_id like '%' #{projId} '%'
        and conseq_state='0'
    </select>
    <select id="selConseqDet" resultType="com.project.entity.ConseqDet" >
        select conseq_id,proj_id,conseq_name,purchase_state,bid_state,contract_state,pay_amount,pay_percent,pay_complete,pay_plan,conseq_stepcode
        from t_proj_conseq where conseq_id=#{conseqId}
    </select>
    <insert id="insertConseq">
        insert into t_proj_conseq(proj_id,conseq_name,purchase_state,bid_state,contract_state,pay_amount,pay_percent,pay_complete
        ,pay_plan,conseq_stepcode,conseq_state) values(#{params.projId},#{params.conseqName},#{params.purchaseState},#{params.bidState}
        ,#{params.contractState},#{params.payAmount},#{params.payPercent},#{params.payComplete},#{params.payPlan},1,0)
    </insert>
    <delete id="deleteConseq">
        delete from t_proj_conseq where conseq_id=#{conseqId}
    </delete>
    <update id="updateConseqState">
        update t_proj_conseq set conseq_state='-1' where conseq_id=#{conseqId}
    </update>
    <update id="updateConseq">
        update t_proj_conseq set conseq_name=#{params.conseqName},purchase_state=#{params.purchaseState},bid_state=#{params.bidState}
        ,contract_state=#{params.contractState},pay_amount=#{params.payAmount},pay_percent=#{params.payPercent},pay_complete=#{params.payComplete}
        ,pay_plan=#{params.payPlan},conseq_stepcode=#{params.conseqStepcode} where conseq_id=#{params.conseqId}
    </update>
    <select id="getAssTbl" resultType="string" >
        select CONCAT('t_ass_',ass_tbl) from t_proj_main where proj_id=#{projId}
    </select>
    <select id="assProj" resultType="com.project.entity.AssProj" >
        select (@rownum:=@rownum+1) as ass_id,t.* from (select @rownum:=0,camera_type as ass_type,camera_name as ass_name,camera_model as ass_model
        ,camera_code as factory_no,camera_brand as brand_name,camera_state as ass_state from t_ass_camera a where a.proj_id=#{projId}) t
    </select>
    <select id="projCost" resultType="com.project.entity.ProjCostForm" >
        select (@rownum:=@rownum+1) as ass_id,t.* from (select distinct @rownum:=0,camera_type as ass_type,camera_brand as brand_name,count(*) as ass_num
        from t_ass_camera where proj_id=#{projId} group by camera_type,camera_brand) t
    </select>
    <select id="meetList" resultType="com.project.entity.MeetListForm" >
        select meet_id,proj_id,meet_topic,meet_time,meet_addr,meet_host,meet_member from t_proj_meet where proj_id=#{params.projId}
<!--        <if test="params.meetTopic!=null and params.meetTopic!=''">-->
<!--            and meet_topic like '%' #{params.meetTopic} '%'-->
<!--        </if>-->
<!--        <if test="params.meetTime1!=null and params.meetTime1!=''">-->
<!--            and meet_time&gt;=#{params.meetTime1}-->
<!--        </if>-->
<!--        <if test="params.meetTime2!=null and params.meetTime2!=''">-->
<!--            and meet_time&lt;=#{params.meetTime2}-->
<!--        </if>-->
    </select>
    <select id="selGanttDet" resultType="com.project.entity.GanttDetForm" >
        select a.gantt_id,a.gantt_type,a.gantt_proce,a.gantt_time1,a.gantt_time2,a.total,a.sum
        FROM t_proj_gantt a where a.proj_id=#{projId}
    </select>
    <insert id="insertGantt">
        insert into t_proj_gantt(proj_id) values(#{projId})
    </insert>
    <delete id="deleteGantt">
        delete from t_proj_gantt where gantt_id=#{ganttId}
    </delete>
    <update id="updateGantt">
        update t_proj_gantt set ${field} = #{value} where gantt_id=#{ganttId}
    </update>
    <select id="selGanttDisp" resultType="com.project.entity.GanttDispForm" >
        select a.gantt_id as 'id',a.pid as 'pid',a.gantt_type as 'projectName',a.gantt_proce as 'projectElem'
        ,a.gantt_time1 as 'planStartAt',a.gantt_time2 as 'planEndAt',a.gantt_time1 as 'startAt',a.gantt_time2 as 'endAt'
        ,CONCAT(ROUND(a.sum/a.total*100,2),'%') as 'persent',datediff(a.gantt_time2,a.gantt_time1) as 'dur'
        ,a.total as 'total',a.sum as 'sum'
        FROM t_proj_gantt a where a.proj_id=#{projId}
    </select>
</mapper>