<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.RoleMapper">
    <select id="roleList" resultType="com.project.entity.RoleListDet" >
        select role_id,role_name,role_state from t_sys_role where 1=1
        <if test="params.roleName!=null and params.roleName!=''">
            and role_name like '%' #{params.roleName} '%'
        </if>
        <if test="params.roleState!=null and params.roleState!=''">
            and role_state = #{params.roleState}
        </if>
        order by role_id
    </select>
    <select id="roleDet" resultType="com.project.entity.RoleListDet">
        select role_id,role_name,role_state from t_sys_role where role_id = #{roleId}
    </select>
    <insert id="insertRole">
        insert into t_sys_role(role_name,role_state) values(#{params.roleName},#{params.roleState})
    </insert>
    <delete id="deleteRole">
        delete from t_sys_role where role_id = #{roleId}
    </delete>
    <update id="updateRole">
        update t_sys_role set role_name=#{params.roleName},role_state=#{params.roleState} where role_id = #{params.roleId}
    </update>
</mapper>