<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.TaskMapper">
    <select id="taskList" resultType="com.project.entity.TaskList" >
        select a.task_id,a.type_id,b.dict_value as type_name,a.task_no,a.task_content,a.proj_id,a.proj_name,a.dept_name,a.maint_name
        ,a.task_time,a.step_code,c.dict_value as step_name from t_task_main a left join (select * from t_sys_dict where dict_unit='task'
        and dict_type='type') b on a.type_id=b.dict_code left join (select * from t_sys_dict where dict_unit='task' and dict_type='step') c
        on a.step_code=c.dict_code where 1=1
        <if test="params.deptName!=null and params.deptName!=''">
            and a.dept_name like '%' #{params.deptName} '%'
        </if>
        <if test="params.maintName!=null and params.maintName!=''">
            and a.maint_name like '%' #{params.maintName} '%'
        </if>
        <if test="params.stepCode!=null and params.stepCode!=''">
            and a.step_code = #{params.stepCode}
        </if>
        order by a.task_time desc
    </select>
    <select id="taskDet" resultType="com.project.entity.TaskDet">
        select task_id,type_id,task_no,task_content,ass_ids,unit_id,maint_id,task_time,step_code from t_task_main where task_id = #{taskId}
    </select>
    <insert id="insertTask2">
        insert into t_task_main(type_id,task_no,task_content,proj_id,proj_name,dept_name,unitb_name,task_time,step_code)
        values(#{params.typeId},#{params.taskNo},#{params.taskContent},#{params.projId},#{params.projName},#{params.deptName}
        ,#{params.unitbName},#{params.taskTime},#{params.stepCode})
    </insert>
</mapper>