<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UnitMapper">
    <select id="unitList" resultType="com.project.entity.UnitList" >
        select unit_id,unit_type,unit_name,unit_code,unit_addr,cont_man,cont_tel,credit_level FROM t_proj_unit where 1=1
        <if test="unitType!=null and unitType!=''">
            and unit_type like '%' #{unitType} '%'
        </if>
        <if test="params.unitType!=null and params.unitType!=''">
            and unit_type like '%' #{params.unitType} '%'
        </if>
        <if test="params.unitName!=null and params.unitName!=''">
            and unit_name like '%' #{params.unitName} '%'
        </if>
        <if test="params.creditLevel!=null and params.creditLevel!=''">
            and credit_level like '%' #{params.creditLevel} '%'
        </if>
        order by unit_id
    </select>
    <select id="unitDet" resultType="com.project.entity.UnitDet" >
        select a.unit_id,a.unit_type,a.unit_name,a.unit_code,a.unit_addr,a.cont_man,a.cont_tel,a.credit_level
        FROM t_proj_unit a where 1=1 and a.unit_id=#{unitId}
    </select>
    <insert id="insertUnit">
        insert into t_proj_unit(unit_type,unit_name,unit_code,unit_addr,cont_man,cont_tel,credit_level) values(#{params.unitType}
        ,#{params.unitName},#{params.unitCode},#{params.unitAddr},#{params.contMan},#{params.contTel},#{params.creditLevel})
    </insert>
    <delete id="deleteUnit">
        delete from t_proj_unit where unit_id=#{unitId}
    </delete>
    <update id="updateUnit">
        update t_proj_unit set unit_type=#{params.unitType},unit_name=#{params.unitName},unit_code=#{params.unitCode}
        ,unit_addr=#{params.unitAddr},cont_man=#{params.contMan},cont_tel=#{params.contTel},credit_level=#{params.creditLevel}
        where unit_id=#{params.unitId}
    </update>
</mapper>