<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <select id="login" resultType="com.project.entity.LoginVo" >
        select * from t_sys_user where user_code=#{userCode} and user_pwd=#{userPwd} and user_state='在用'
    </select>
    <select id="userList" resultType="com.project.entity.UserList" >
        select t.user_id,t.user_code,t.user_pwd,t.user_name,t.user_sex,t.user_tel,t.unit_id,a.unit_name,t.role_id,t.user_state
        from t_sys_user t left join t_sys_unit a on t.unit_id=a.unit_id where 1=1
<!--        <if test="params.userDept!=null and params.userDept!=''">-->
<!--            and t.user_dept=#{params.userDept}-->
<!--        </if>-->
<!--        <if test="params.userName!=null and params.userName!=''">-->
<!--            and t.user_name like '%' #{params.userName} '%'-->
<!--        </if>-->
        order by t.user_state desc,t.user_id
    </select>
    <select id="userDet" resultType="com.project.entity.UserDet">
        select user_id,user_code,user_pwd,user_name,user_sex,user_dept,user_state from t_sys_user where user_id = #{userId}
    </select>
    <insert id="insertUser">
        insert into t_sys_user(user_no,user_name,user_sex,user_dept,user_state)
        values(#{params.userNo},#{params.userName},#{params.userSex},#{params.userDept},#{params.userState})
    </insert>
    <delete id="deleteUser">
        delete from t_sys_user where user_id = #{userId}
    </delete>
    <update id="userEdit">
        update t_sys_user set user_name=#{params.userName},user_no=#{params.userNo},user_sex=#{params.userSex},user_dept=#{params.userDept},user_state=#{params.userState}
        where user_id = #{params.userId}
    </update>
    <update id="changePassword">
        update t_sys_user set user_pwd=#{password} where user_id = #{userId}
    </update>
</mapper>